## Import : data with actual stock distributed and exogenous variables

In [1]:
import pandas as pd
df_combined=pd.read_csv('../0_data/df_combined_fullsample.csv')

## Import results from distribution(shares) models

In [2]:
import glob
temp=glob.glob('../2_pipeline/final_distribute_*.csv')
print(temp)

['../2_pipeline\\final_distribute_districtlev.csv', '../2_pipeline\\final_distribute_regionlev.csv', '../2_pipeline\\final_distribute_regionproducttypelev.csv']

In [3]:
distribute_districtlev=pd.read_csv(temp[0]).drop(columns=['Unnamed: 0'])
distribute_regionlev=pd.read_csv(temp[1]).drop(columns=['Unnamed: 0'])
distribute_regionproducttypelev=pd.read_csv(temp[2]).drop(columns=['Unnamed: 0'])

## Import SARIMAX_agg model results and merge with distribute

In [4]:
sarimax_pred_region=pd.read_csv('../2_pipeline/final_pred_region_lev.csv').rename(columns={'Unnamed: 0':'date',}).rename(columns={'stock_distributed_forecasted':'stock_forecast_agg_region'})
sarimax_pred_regionproducttype=pd.read_csv('../2_pipeline/final_pred_region_producttype_lev.csv').rename(columns={'Unnamed: 0':'date'}).rename(columns={'stock_distributed_forecasted':'stock_forecast_agg_regionproducttype'})
sarimax_pred_district=pd.read_csv('../2_pipeline/final_pred_district_lev.csv').rename(columns={'Unnamed: 0':'date'}).rename(columns={'stock_distributed_forecasted':'stock_forecast_agg_district'})

- merge sarimax_pred_region with distribute_region

In [5]:
pred_agg_region=pd.merge(left=sarimax_pred_region,right=distribute_regionlev,on=['date','region','product_code'])
pred_agg_region.head(1)

,date,stock_forecast_agg_region,region,product_code,site_code,pred_share_regionlev,agg_level
0,2016-01-01,-0.121998,ABIDJAN 1-GRANDS PONTS,AS17005,C1062,0.002843,region

- merge sarimax_pred_regionproducttype with distribute_regionproducttype

In [6]:
pred_agg_regionproducttype=pd.merge(left=sarimax_pred_regionproducttype,right=distribute_regionproducttypelev,on=['date','region','product_type'])
pred_agg_regionproducttype.head(1)

,date,stock_forecast_agg_regionproducttype,region,product_type,site_code,product_code,pred_share_regionproducttype_tlev,agg_level
0,2016-01-01,105.749324,ABIDJAN 1-GRANDS PONTS,Contraceptive Implant,C1062,AS27138,0.00795,regionproducttype

- merge sarimax_pred_district with distribute_districtlev

In [7]:
pred_agg_district=pd.merge(left=sarimax_pred_district,right=distribute_districtlev,on=['date','district','product_code'])
pred_agg_district.head(1)

,date,stock_forecast_agg_district,district,product_code,site_code,pred_share_districtlev,agg_level
0,2016-01-01,0.037917,ABENGOUROU,AS27137,C4001,0.085686,district

## Import three individual level sarimax results

In [8]:
import glob
temp=glob.glob('../2_pipeline/final_pred_ind*.csv')
print(temp)

['../2_pipeline\\final_pred_ind_lev.csv', '../2_pipeline\\final_pred_ind_rollingsmoothed_lev.csv', '../2_pipeline\\final_pred_ind_winsorized_lev.csv']

In [9]:
sarimax_ind=pd.read_csv('../2_pipeline/final_pred_ind_lev.csv').rename(columns={'Unnamed: 0':'date','stock_distributed_forecasted':'stock_forecast_agg_ind'})
sarimax_ind.head(2)

         date  stock_forecast_agg_ind site_code product_code
0  2016-04-01               66.912062     C1007      AS27000
1  2016-05-01               15.091281     C1007      AS27000

In [10]:
sarimax_ind_smooth=pd.read_csv('../2_pipeline/final_pred_ind_rollingsmoothed_lev.csv').rename(columns={'Unnamed: 0':'date','stock_distributed_forecasted':'stock_forecast_agg_ind_smooth'})
sarimax_ind_smooth.head(2)

         date  stock_forecast_agg_ind_smooth site_code product_code
0  2016-04-01                      85.588195     C1007      AS27000
1  2016-05-01                      57.430206     C1007      AS27000

In [11]:
sarimax_ind_winsorized=pd.read_csv('../2_pipeline/final_pred_ind_winsorized_lev.csv').rename(columns={'Unnamed: 0':'date','stock_distributed_forecasted':'stock_forecast_agg_ind_winsorized'})

sarimax_ind_winsorized.head(2)

         date  stock_forecast_agg_ind_winsorized site_code product_code
0  2016-04-01                          66.629251     C1007      AS27000
1  2016-05-01                          16.178449     C1007      AS27000

In [12]:
df_combined.head(1)

,date,site_code,product_code,year,month,stock_distributed,region,district,regionroads,regionasphaltroads,...,maxtemp,pressure,relativehumidity,rainfallsnowmelt,visibility,windspeed,maxsustainedwindspeed,rainordrizzle,storm,fog
0,2019-04-01,C1004,AS21126,2019,4,0.0,AGNEBY-TIASSA-ME,AGBOVILLE,98.0,24.0,...,32.1,0.0,80.3,63.25,9.6,11.9,24.4,12.0,17.0,0.0

In [13]:
df_combined.columns

Index(['date', 'site_code', 'product_code', 'year', 'month',
       'stock_distributed', 'region', 'district', 'regionroads',
       'regionasphaltroads', 'regionearthroads', 'regionsurfacetreatmentroads',
       'regionpoorroads', 'poorroads', 'earthroads', 'asphaltroads',
       'site_type', 'product_type', 'temp', 'maxtemp', 'pressure',
       'relativehumidity', 'rainfallsnowmelt', 'visibility', 'windspeed',
       'maxsustainedwindspeed', 'rainordrizzle', 'storm', 'fog'],
      dtype='object')

In [14]:
pred_agg_district.head(2)

,date,stock_forecast_agg_district,district,product_code,site_code,pred_share_districtlev,agg_level
0,2016-01-01,0.037917,ABENGOUROU,AS27137,C4001,0.085686,district
1,2016-02-01,0.035022,ABENGOUROU,AS27137,C4001,0.116249,district

In [15]:
df_combined.head(1)

,date,site_code,product_code,year,month,stock_distributed,region,district,regionroads,regionasphaltroads,...,maxtemp,pressure,relativehumidity,rainfallsnowmelt,visibility,windspeed,maxsustainedwindspeed,rainordrizzle,storm,fog
0,2019-04-01,C1004,AS21126,2019,4,0.0,AGNEBY-TIASSA-ME,AGBOVILLE,98.0,24.0,...,32.1,0.0,80.3,63.25,9.6,11.9,24.4,12.0,17.0,0.0

In [16]:
df_ensemble=pd.merge(left=df_combined,right=pred_agg_region.drop(columns=['agg_level']),on=['date','region','product_code','site_code'],how='left')

In [17]:
len(df_ensemble)

44504

In [18]:
df_ensemble=pd.merge(left=df_ensemble,right=pred_agg_regionproducttype.drop(columns=['agg_level']),on=['date','region','product_type','site_code','product_code'],how='left')
len(df_ensemble)

44504

In [20]:
df_ensemble=pd.merge(left=df_ensemble,right=pred_agg_district.drop(columns=['agg_level']),on=['date','district','site_code','product_code'],how='left')

In [21]:
                     
df_ensemble=pd.merge(left=df_ensemble,right=sarimax_ind,on=['date','site_code','product_code'],how='left')

df_ensemble=pd.merge(left=df_ensemble,right=sarimax_ind_smooth,on=['date','site_code','product_code'],how='left')


df_ensemble=pd.merge(left=df_ensemble,right=sarimax_ind_winsorized,on=['date','site_code','product_code'],how='left')

In [24]:
df_ensemble.describe()

,year,month,stock_distributed,regionroads,regionasphaltroads,regionearthroads,regionsurfacetreatmentroads,regionpoorroads,poorroads,earthroads,...,fog,stock_forecast_agg_region,pred_share_regionlev,stock_forecast_agg_regionproducttype,pred_share_regionproducttype_tlev,stock_forecast_agg_district,pred_share_districtlev,stock_forecast_agg_ind,stock_forecast_agg_ind_smooth,stock_forecast_agg_ind_winsorized
count,44504.000000,44504.000000,44504.000000,44504.000000,44504.000000,44504.000000,44504.000000,44504.000000,44504.000000,44504.000000,...,44504.000000,43540.000000,43540.000000,43834.000000,43834.000000,9412.000000,9412.000000,37068.000000,37182.000000,36955.000000
mean,2017.627045,6.638841,13.038221,97.381154,12.278964,69.424538,15.677651,4.905678,0.459650,0.503956,...,1.313337,159.861939,0.136559,334.760378,0.082741,19.249728,0.310703,16.560963,16.690675,15.620388
std,1.095467,3.434310,38.266454,57.256750,9.988057,52.563144,10.757167,6.401357,0.498274,0.499889,...,2.861380,250.937894,0.171702,507.399018,0.136613,46.218506,0.282276,34.044841,35.317598,31.477509
min,2016.000000,1.000000,0.000000,15.000000,0.000000,9.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,-841.745126,0.000000,-1182.403679,0.000000,-692.640786,0.000000,-498.534772,-274.960053,-504.804455
25%,2017.000000,4.000000,0.000000,72.000000,0.000000,34.000000,8.000000,0.000000,0.000000,0.000000,...,0.000000,13.673661,0.032638,44.503907,0.012118,2.272566,0.088600,1.187251,1.191303,1.095540
50%,2018.000000,7.000000,0.000000,80.000000,15.000000,56.000000,15.000000,0.000000,0.000000,1.000000,...,0.000000,66.491899,0.101163,150.281406,0.048054,10.776925,0.178818,6.374498,5.936767,5.941649
75%,2019.000000,10.000000,10.000000,131.000000,24.000000,96.000000,19.000000,9.000000,1.000000,1.000000,...,1.000000,177.306548,0.122505,402.166707,0.078812,26.424249,0.598634,18.812722,18.244548,17.517722
max,2019.000000,12.000000,1805.000000,206.000000,25.000000,184.000000,51.000000,19.000000,1.000000,1.000000,...,23.000000,3157.736225,1.000000,7824.049060,1.000000,1336.235847,1.000000,1336.247177,703.716403,997.320797

In [27]:
df_ensemble['date']=pd.to_datetime(df_ensemble['date'])

In [29]:
df_ensemble.set_index('date')['2019-10':].describe()

,year,month,stock_distributed,regionroads,regionasphaltroads,regionearthroads,regionsurfacetreatmentroads,regionpoorroads,poorroads,earthroads,...,fog,stock_forecast_agg_region,pred_share_regionlev,stock_forecast_agg_regionproducttype,pred_share_regionproducttype_tlev,stock_forecast_agg_district,pred_share_districtlev,stock_forecast_agg_ind,stock_forecast_agg_ind_smooth,stock_forecast_agg_ind_winsorized
count,3156.0,3156.000000,3156.0,3156.000000,3156.000000,3156.000000,3156.000000,3156.000000,3156.000000,3156.000000,...,3156.000000,3069.000000,3069.000000,3156.000000,3156.000000,720.000000,720.000000,2619.000000,2643.000000,2610.000000
mean,2019.0,11.000000,0.0,97.073467,12.420793,69.068961,15.583713,4.624937,0.454142,0.482912,...,1.767816,205.823472,0.134089,627.392326,0.076449,25.725177,0.347242,18.265577,18.644259,17.884570
std,0.0,0.816626,0.0,58.002963,10.074769,53.465181,10.489312,6.142992,0.496547,0.498358,...,3.792387,341.858744,0.146371,1187.468855,0.114441,129.449082,0.280562,42.073421,38.702243,47.417816
min,2019.0,10.000000,0.0,15.000000,0.000000,9.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,-841.745126,0.000000,-1182.403679,0.000000,-692.640786,0.000000,-498.534772,-274.960053,-504.804455
25%,2019.0,10.000000,0.0,72.000000,0.000000,34.000000,8.000000,0.000000,0.000000,0.000000,...,0.000000,23.921875,0.039541,80.686994,0.012745,2.994706,0.106236,1.241874,1.765218,1.172845
50%,2019.0,11.000000,0.0,78.000000,15.000000,56.000000,15.000000,0.000000,0.000000,0.000000,...,0.000000,94.080756,0.101163,286.826624,0.046152,16.146511,0.236042,7.192807,7.429236,6.846924
75%,2019.0,12.000000,0.0,131.000000,24.000000,96.000000,19.000000,8.000000,1.000000,1.000000,...,1.313337,268.739553,0.131512,933.501934,0.078812,42.456780,0.686806,21.553683,20.898572,19.965443
max,2019.0,12.000000,0.0,206.000000,25.000000,184.000000,51.000000,19.000000,1.000000,1.000000,...,19.000000,3157.736225,1.000000,7824.049060,1.000000,973.766857,1.000000,687.378415,559.897567,997.320797

In [31]:
df_ensemble=df_ensemble.fillna(0)

In [32]:
df_ensemble.describe()

,year,month,stock_distributed,regionroads,regionasphaltroads,regionearthroads,regionsurfacetreatmentroads,regionpoorroads,poorroads,earthroads,...,fog,stock_forecast_agg_region,pred_share_regionlev,stock_forecast_agg_regionproducttype,pred_share_regionproducttype_tlev,stock_forecast_agg_district,pred_share_districtlev,stock_forecast_agg_ind,stock_forecast_agg_ind_smooth,stock_forecast_agg_ind_winsorized
count,44504.000000,44504.000000,44504.000000,44504.000000,44504.000000,44504.000000,44504.000000,44504.000000,44504.000000,44504.000000,...,44504.000000,44504.000000,44504.000000,44504.000000,44504.000000,44504.000000,44504.000000,44504.000000,44504.000000,44504.000000
mean,2017.627045,6.638841,13.038221,97.381154,12.278964,69.424538,15.677651,4.905678,0.459650,0.503956,...,1.313337,156.399174,0.133601,329.720618,0.081495,4.071060,0.065710,13.793856,13.944650,12.970776
std,1.095467,3.434310,38.266454,57.256750,9.988057,52.563144,10.757167,6.401357,0.498274,0.499889,...,2.861380,249.293790,0.170992,505.212336,0.135955,22.661068,0.181517,31.678943,32.869507,29.276744
min,2016.000000,1.000000,0.000000,15.000000,0.000000,9.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,-841.745126,0.000000,-1182.403679,0.000000,-692.640786,0.000000,-498.534772,-274.960053,-504.804455
25%,2017.000000,4.000000,0.000000,72.000000,0.000000,34.000000,8.000000,0.000000,0.000000,0.000000,...,0.000000,11.327464,0.030025,40.445983,0.011420,0.000000,0.000000,0.000000,0.056436,0.000000
50%,2018.000000,7.000000,0.000000,80.000000,15.000000,56.000000,15.000000,0.000000,0.000000,1.000000,...,0.000000,63.911037,0.101163,146.769027,0.046967,0.000000,0.000000,3.782146,3.489416,3.450218
75%,2019.000000,10.000000,10.000000,131.000000,24.000000,96.000000,19.000000,9.000000,1.000000,1.000000,...,1.000000,173.151221,0.119442,385.870387,0.078812,0.000000,0.000000,15.248754,14.628769,14.025397
max,2019.000000,12.000000,1805.000000,206.000000,25.000000,184.000000,51.000000,19.000000,1.000000,1.000000,...,23.000000,3157.736225,1.000000,7824.049060,1.000000,1336.235847,1.000000,1336.247177,703.716403,997.320797

## In-sample train and test

In [48]:
df_train=df_ensemble.set_index('date')[:'2019-6']
df_test=df_ensemble.set_index('date')['2019-7':'2019-9']
df_pred=df_ensemble.set_index('date')['2019-10':'2019-12']

In [36]:
y=df_ensemble.stock_distributed

In [37]:
df_ensemble.columns

Index(['date', 'site_code', 'product_code', 'year', 'month',
       'stock_distributed', 'region', 'district', 'regionroads',
       'regionasphaltroads', 'regionearthroads', 'regionsurfacetreatmentroads',
       'regionpoorroads', 'poorroads', 'earthroads', 'asphaltroads',
       'site_type', 'product_type', 'temp', 'maxtemp', 'pressure',
       'relativehumidity', 'rainfallsnowmelt', 'visibility', 'windspeed',
       'maxsustainedwindspeed', 'rainordrizzle', 'storm', 'fog',
       'stock_forecast_agg_region', 'pred_share_regionlev',
       'stock_forecast_agg_regionproducttype',
       'pred_share_regionproducttype_tlev', 'stock_forecast_agg_district',
       'pred_share_districtlev', 'stock_forecast_agg_ind',
       'stock_forecast_agg_ind_smooth', 'stock_forecast_agg_ind_winsorized'],
      dtype='object')

## Very large variation - probably need scaling

In [65]:
df_ensemble[columns_continuous_frommodel].describe()

,stock_forecast_agg_region,pred_share_regionlev,stock_forecast_agg_regionproducttype,pred_share_regionproducttype_tlev,stock_forecast_agg_district,pred_share_districtlev,stock_forecast_agg_ind,stock_forecast_agg_ind_smooth,stock_forecast_agg_ind_winsorized
count,44504.000000,44504.000000,44504.000000,44504.000000,44504.000000,44504.000000,44504.000000,44504.000000,44504.000000
mean,156.399174,0.133601,329.720618,0.081495,4.071060,0.065710,13.793856,13.944650,12.970776
std,249.293790,0.170992,505.212336,0.135955,22.661068,0.181517,31.678943,32.869507,29.276744
min,-841.745126,0.000000,-1182.403679,0.000000,-692.640786,0.000000,-498.534772,-274.960053,-504.804455
25%,11.327464,0.030025,40.445983,0.011420,0.000000,0.000000,0.000000,0.056436,0.000000
50%,63.911037,0.101163,146.769027,0.046967,0.000000,0.000000,3.782146,3.489416,3.450218
75%,173.151221,0.119442,385.870387,0.078812,0.000000,0.000000,15.248754,14.628769,14.025397
max,3157.736225,1.000000,7824.049060,1.000000,1336.235847,1.000000,1336.247177,703.716403,997.320797

In [43]:
columns_to_encode=['site_code', 'product_code', 'year', 'month',
       'region', 'district', 'product_type','site_type'] 
columns_continuous_exog=['regionroads',
       'regionasphaltroads', 'regionearthroads', 'regionsurfacetreatmentroads',
       'regionpoorroads', 'poorroads', 'earthroads', 'asphaltroads', 'temp',
       'maxtemp', 'pressure', 'relativehumidity', 'rainfallsnowmelt',
       'visibility', 'windspeed', 'maxsustainedwindspeed', 'rainordrizzle',
       'storm', 'fog']

columns_continuous_frommodel=['stock_forecast_agg_region', 'pred_share_regionlev',
       'stock_forecast_agg_regionproducttype',
       'pred_share_regionproducttype_tlev', 'stock_forecast_agg_district',
       'pred_share_districtlev', 'stock_forecast_agg_ind',
       'stock_forecast_agg_ind_smooth', 'stock_forecast_agg_ind_winsorized']

In [44]:
# Import libraries and download example data
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse=False,categories='auto')
encoded_columns =  ohe.fit_transform(df_ensemble[columns_to_encode])
import numpy as np
np.shape(encoded_columns)

(44504, 294)

In [45]:
features=pd.DataFrame(data=encoded_columns,columns=ohe.get_feature_names(columns_to_encode))
features.describe()

,site_code_C1004,site_code_C1007,site_code_C1008,site_code_C1009,site_code_C1010,site_code_C1011,site_code_C1014,site_code_C1015,site_code_C1017,site_code_C1018,...,product_type_Contraceptive Implant,product_type_Emergency Contraceptive (Pill),product_type_Female Condom,product_type_Injectable Contraceptive,product_type_Intrauterine Device (IUD),product_type_Male Condom,product_type_Oral Contraceptive (Pill),site_type_Health Center,site_type_Hospital,site_type_University Hospital/National Institute
count,44504.000000,44504.000000,44504.000000,44504.000000,44504.000000,44504.000000,44504.000000,44504.000000,44504.000000,44504.000000,...,44504.000000,44504.000000,44504.000000,44504.000000,44504.000000,44504.000000,44504.000000,44504.000000,44504.000000,44504.000000
mean,0.005191,0.009729,0.007235,0.003842,0.006314,0.007707,0.004786,0.010853,0.005123,0.009370,...,0.244158,0.066556,0.034581,0.292962,0.041008,0.055006,0.265729,0.295816,0.680928,0.023256
std,0.071859,0.098158,0.084753,0.061868,0.079211,0.087453,0.069017,0.103612,0.071393,0.096345,...,0.429592,0.249254,0.182719,0.455126,0.198310,0.227995,0.441726,0.456414,0.466122,0.150718
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [46]:
X=features
X[columns_continuous_exog]=df_ensemble[columns_continuous_exog]
X[columns_continuous_frommodel]=df_ensemble[columns_continuous_frommodel]

In [47]:
X.head(1)

,site_code_C1004,site_code_C1007,site_code_C1008,site_code_C1009,site_code_C1010,site_code_C1011,site_code_C1014,site_code_C1015,site_code_C1017,site_code_C1018,...,fog,stock_forecast_agg_region,pred_share_regionlev,stock_forecast_agg_regionproducttype,pred_share_regionproducttype_tlev,stock_forecast_agg_district,pred_share_districtlev,stock_forecast_agg_ind,stock_forecast_agg_ind_smooth,stock_forecast_agg_ind_winsorized
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,485.549658,0.012269,0.0,0.0,0.0,0.0,0.0

In [50]:
df_train.shape

(38245, 37)

In [51]:
df_test.shape

(3103, 37)

In [54]:
X_train=X[:df_train.shape[0]]

In [55]:
y_train=y[:df_train.shape[0]]

In [57]:
X_test=X[df_train.shape[0]+1:-df_test.shape[0]]
y_test=y[df_train.shape[0]+1:-df_test.shape[0]]

In [58]:
from sklearn.tree import DecisionTreeRegressor 
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as MSE

In [59]:
from sklearn.ensemble import RandomForestRegressor
regr = RandomForestRegressor(max_depth=30,n_estimators=15,min_samples_leaf=0.0002,random_state=21)
regr.fit(X_train, y_train)
y_pred=regr.predict(X_test)
mse_dt=MSE(y_test,y_pred)
rmse_dt=mse_dt**(1/2)
print(rmse_dt)

27.595978144692307

## XGBoost

In [60]:
import xgboost as xgb
from sklearn.metrics import mean_squared_error
import pandas as pd
import numpy as np

In [61]:
data_dmatrix = xgb.DMatrix(data=X,label=y)

In [62]:
xg_reg = xgb.XGBRegressor(objective ='reg:squarederror', colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 25, alpha = 10, n_estimators = 20)
xg_reg.fit(X_train,y_train)

preds = xg_reg.predict(X_test)

rmse = np.sqrt(mean_squared_error(y_test, preds))
print("RMSE: %f" % (rmse))

RMSE: 28.839966

In [63]:
params = {"objective":"reg:squarederror",'colsample_bytree': 0.3,'learning_rate': 0.1,
                'max_depth': 25, 'alpha': 10}

cv_results = xgb.cv(dtrain=data_dmatrix, params=params, nfold=10,
                    num_boost_round=50,early_stopping_rounds=10,metrics="rmse", as_pandas=True, seed=123)

In [64]:
cv_results.tail()

    train-rmse-mean  train-rmse-std  test-rmse-mean  test-rmse-std
45         3.587192        0.163579       24.443411       4.271328
46         3.462777        0.165406       24.432713       4.271468
47         3.357370        0.161667       24.425083       4.274105
48         3.258329        0.154646       24.419794       4.271827
49         3.154126        0.145242       24.406428       4.258068